@use "variables" as v;

@mixin sm {
    @media (min-width: v.$sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: v.$md) {
        @content;
    }
} 

@mixin lg {
    @media (min-width: v.$lg) {
        @content;
    }
}

@mixin xl {
    @media (min-width: v.$xl) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: v.$xxl) {
        @content;
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns,1fr);
    gap: $gap;
}