@use "variables" as v;
@use "mixins" as m;

h1,h2,h3 {
    margin: 0 0 calc(v.$gutter / 2) 0;
    line-height: 1.2;    
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

p {
    margin: 0 0 calc(v.$gutter / 2) 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    color: v.$primary;

    span {
        font-size: .75rem;
        display: block;
        color: v.$secondary;
    }

    &::after {
        content: "";
        display: block;
        width: 64px;
        height: 64px;
        margin: 0 auto;
        background-image: url(../img/cafe.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        @include m.md { 
            width: 80px;
            height: 80px;
        }
    }
}

.heading-white {
    @extend h2;
    color: v.$white;

    span {
        color: v.$white;
    }

    &::after {
        display: none;
    }
}

h3 {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.5rem;

        span {
            font-size: 1rem;
        }
    }
    
    h3 {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 3rem;

        span {
            font-size: 1.25rem;
            margin-bottom: .5rem;
        }
    }
    
    h3 {
        font-size: 2.5rem;
    }
}