// Fonts
$mainFont: "Roboto", sans-serif;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Colors
$primary: #e22331;
$secondary: #303f46;
$white: #ffffff;
$black: #000000;
$lightGray: #eceeef; 

// Units
$gutter: 3.5rem;