// Fonts
$mainFont: "Roboto", sans-serif;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Colors
// $primary: #e8505b;
$primary: #c02731;
// $secondary: #455a64;
$secondary: #2f363a;
$white: #ffffff;
$black: #000000;
$lightGray: #eceeef; 

// Units
$gutter: 3.5rem;